name: Test on push

on:
  push:
    tags:
      - '!refs/tags/*'
    branches:
      - '*'

jobs:
  run_tests:

    runs-on: [ubuntu-latest]

    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: composer install
        run: composer install
      - name: run tests
        run: /usr/bin/php -f bin/phpunit
